In [ ]:
# Requirements
# 1. Select a dataset & describe the problem ✅
# 2. Train it using MLFlow ✅
# 3. Create a pipeline (e.g. main.py) ✅
# 4. Deploy with Prefect & Docker (Do the evidently UI)
#   - TODO: Test docker image starts with evidently UI
# 5. Monitor using Evidently-AI

# Extra
# 6. Write unit tests ✅
# 7. Integration test???
# 8. Use black to format the code ✅
# 9. Create a Makefile
# 10. There is a pre-commit hook ✅
# 11. Create a CI-CD pipeline ✅

In [93]:
import pandas as pd

dft = pd.DataFrame({"col1": [1, 0], "col2": [3, 4], "col3": [4, 5]})
dft

   col1  col2  col3
0     1     3     4
1     0     4     5

In [95]:
dft.drop("col3", axis=1)

   col1  col2
0     1     3
1     0     4

In [76]:
# may_df.to_parquet("./src/data/vehicles_2023-05.parquet", engine="pyarrow")
# april_df.to_parquet("./src/data/vehicles_2023-04.parquet", engine="pyarrow")

In [85]:
%load_ext autoreload
%autoreload 2

In [87]:
CONFIG_PATH = "./src/config.toml"
config = read_toml_config(CONFIG_PATH)

In [79]:
# Import packages needed
import pandas as pd

In [80]:
df = pd.read_parquet("./src/data/vehicles_2023-04.parquet", engine="pyarrow")
df.head()

,price,year,manufacturer,fuel,odometer,title_status,transmission,type,paint_color,lat,long,posting_date
0,34590,2018.0,ford,gas,20856.0,clean,other,pickup,white,32.59,-85.48,2021-04-30
1,30590,2016.0,toyota,other,30176.0,clean,other,pickup,red,32.59,-85.48,2021-04-30
2,32990,2020.0,jeep,gas,20581.0,clean,other,SUV,silver,32.59,-85.48,2021-04-30
3,22590,2017.0,ram,gas,39508.0,clean,other,pickup,white,32.59,-85.48,2021-04-29
4,27990,2020.0,ford,gas,10688.0,clean,other,pickup,white,32.59,-85.48,2021-04-29

In [81]:
# mean frequencies
# 1. manufacturer
# 2. fuel
# 3. title_status
# 4. transmission
# 5. type
# 6. paint_color

price                    int64
year                   float64
manufacturer            object
fuel                    object
odometer               float64
title_status            object
transmission            object
type                    object
paint_color             object
lat                    float64
long                   float64
posting_date    datetime64[ns]
dtype: object

In [ ]:
# Initialize Optuna study
study = optuna.create_study(direction="minimize")

# Optimize the objective function (hyperparameter tuning)
study.optimize(objective, n_trials=100)

# Get the best hyperparameters from the study
best_params = study.best_params

# Train the XGBRegressor with the best hyperparameters
best_xgb_model = XGBRegressor(**best_params)
best_xgb_model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = best_xgb_model.predict(X_test)

# Calculate Mean Squared Error (MSE) on the test set
mse = mean_squared_error(y_test, y_pred)